@page
@model BookShop.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories List</h1>
<hr />
<div class="row mb-3">
    <div class="col-md-6">
        <form method="get">
            <div class="input-group">
                <input type="text" name="searchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Search by name..." />
                <button type="submit" class="btn btn-primary">Search</button>
                <a asp-page="./Index" class="btn btn-secondary">Clear</a>
            </div>
        </form>
    </div>
    <div class="col-md-6 text-end">
        <a asp-page="Create" class="btn btn-success">Create</a>
    </div>
</div>
<table class="table table-responsive table-striped table-hover align-middle">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr class="text-center">
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@category.CategoryId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="Delete" asp-route-id="@category.CategoryId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
